model Calgos.Models.Category
@{
    ViewBag.Title = "Afisare categorie";
}


<h2>@ViewBag.Title</h2>

<br />

<p>@Model.CategoryName</p>


<form method="post" action="/Categories/Delete/@Model.Id">

    <button class="btn btn-danger" type="submit">Sterge categoria</button>

</form>
<br />
<a class="btn btn-warning" style="border-color: #ad4f87 ;background-color: #ad4f87; color: #fff; !important transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='#8a3e6f'" onmouseout="this.style.backgroundColor='#ad4f87'" !important" href="/Categories/Index/">Afisare lista categorii</a>

<br />
<hr />
<br />

