
@{
    ViewBag.Title = "Index";
}
<br />

<h2 class="text-center">Produse disponibile: </h2>

<br />

@if (TempData["message"] != null)
{
        <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
        </div>
}

<br />

<div class="container">
    <div class="row">
        @foreach (ArticlesApp.Models.Product product in ViewBag.Products)
        {
                    <div class="col-md-4"> 
                        <div class="card" style="width: 18rem;">
                    @Html.Partial("ProductInfo_Unregistered", product)
                        </div>
                    </div>
        }
    </div>
</div>


