
@{
    ViewBag.Title = "Lista categorii";
}
<br />
<h2 class="text-center">@ViewBag.Title</h2>
<br />  

@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

<br />

<div class="align-items-center justify-content-center d-flex">
    <a class="btn btn-success" href="/Categories/New">Adauga o noua categorie</a>
</div>

<br />

@foreach (var category in ViewBag.Categories)
{
    @Html.Label("CategoryName", "Denumire categorie")
    <p>@category.CategoryName</p>
    <a class="btn alert-success" href="/Categories/Show/@category.Id">Afisare categorie</a>
    <a class="btn alert-success" href="/Categories/Edit/@category.Id">Editare categorie</a>
    <br />
    <hr />
    <br />
}
<br />


