
@{
    ViewBag.Title = "Index";
}
<br />


@if (ViewBag.esteAdmin)
{

    @if (ViewBag.showUnapprovedProducts)
    {
        <h2 class="text-center">Produse care asteapta aprobarea: </h2>

        <br />


        <div class="container">
            <div class="row">
                @foreach (Calgos.Models.Product product in ViewBag.unapprovedProducts)
                {
                    <div class="col-md-3 mb-4">
                        <div class="card" style="width: 18rem; border-radius: 15px;">
                            @Html.Partial("unapprovedProductInfo", product)
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}


<h2 class="text-center">Produse disponibile: </h2>

<br />

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br />


<div class="container">
    <div class="row">
        @foreach (Calgos.Models.Product product in ViewBag.approvedProducts)
        {
            <div class="col-md-3 mb-4">
                <div class="card" style="width: 18rem; border-radius: 15px;">
                    @Html.Partial("ProductInfo", product)
                </div>
            </div>
        }
    </div>
</div>


<style>
    .card:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adjust the values as needed */
    }
</style>
