html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

a {
    text-decoration: none;
    color: black;
}

product-image {
    height: 200px; 
    background-size: cover;
    background-position: center;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f7f3ff;
}


.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.navbar {
    background-color: #f4acb7 !important;
    border: none !important;
    box-shadow: 0 3px 12px #636e72 !important;
}

a.nav-link {
    color: black !important;
}

    a.nav-link:hover {
        color: #e08192 !important;
    }

.nav-item {
    border-right: 2px solid white; /* Vertical line color */
    padding-right: 10px; /* Adjust padding for spacing between items */
    padding-left: 10px;
}

.nav-item:last-child {
    border-right: none; /* Remove border on the last item */
}



.logoutbtn {
    color: #2c2c2c !important;
}

    .logoutbtn:hover {
        color: #f4c518 !important;
    }

.card_pret {
    background-color: gold; 
    color: black; 
    padding: 5px; 
    width: fit-content; 
    margin-left: 15px; 
    border-radius: 5px; 
}

.misto {
    border-color: #ad4f87;
    background-color: #ad4f87;
    color: #fff;
    !important;
    transition: background-color 0.3s;
}


.misto:hover{
    background-color: #8a3e6f;
}
